apiVersion: v1
kind: Namespace
metadata:
  name: cert-manager
  labels:
    app.kubernetes.io/managed-by: argocd
    app.kubernetes.io/part-of: cert-manager
    cert-manager.io/disable-validation: "true"
